@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


@font-face {
    font-family: 'helveticaneue';
    font-weight: 700;
    font-display: swap;
    src: url('../assets/fonts/helveticaneuecyr-bold-webfont.eot');
    src: url('../assets/fonts/helveticaneuecyr-bold-webfont.eot#iefix') format('embedded-opentype'),
         url('../assets/fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('../assets/fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneue';
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/helveticaneuecyr-light-webfont.eot');
    src: url('../assets/fonts/helveticaneuecyr-light-webfont.eot#iefix') format('embedded-opentype'),
         url('../assets/fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('../assets/fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneue';
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../assets/fonts/helveticaneuecyr-roman-webfont.eot#iefix') format('embedded-opentype'),
         url('../assets/fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../assets/fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../assets/fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-style: normal;
}


.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--bs-gutter-x)*.5);
    padding-right: calc(var(--bs-gutter-x)*.5);
    width: 100%;
    position: relative;
    z-index: 2;
}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background: #000;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'helveticaneue', sans-serif;
    color:#FFF
}


@media(min-width: 576px) {
    .container {
        max-width: 540px
    }
}

@media(min-width: 768px) {
    .container {
        max-width: 720px
    }
}

@media(min-width: 992px) {
    .container {
        max-width: 960px
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1140px
    }
}

@media(min-width: 1400px) {
    .container {
        max-width: 1320px
    }
}

@media(min-width: 1680px) {
    .container {
        max-width: 1640px
    }
}

.header {
    background: #000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo {
    width: 80px;
}

.logo__image {
    max-width: 100%;
}

.order-button {
    padding: 12.5px 25px;
    line-height: 1;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    background: #FFF;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.main-banner {
    height: 720px;
    background-image: url(../assets/images/main.png);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
}

.main-banner::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 90%);
}

.main-banner__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2.5%;
}

.main-title {
    color: #FFF;
    font-size: 52px;
    margin-bottom: 26px;
    text-align: center;
}

.main-button {
    padding: 20px 40px;
    line-height: 1;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    background: #000;
    border-radius: 50px;
}

.services {
    padding: 60px 0;
    /* background: #2196f3; */
}

.secondary-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 0;
    line-height: 1;
    color: #FFF;
    /* color: #FFF; */
}

.services__text {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 45px;
    margin-top: 0;
}

.services-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.single-service {
    color: #FFF;
    /* background: #88caff; */
    padding: 20px 15px 30px;
}

.single-service__title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 24px;
}

.single-service__text {
    font-size: 20px;
    margin: 0;
}

.single-service__icon {
    width: 24px;
    height: 24px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(83%) saturate(2%) hue-rotate(318deg) brightness(107%) contrast(101%);
    /* display: none; */
}

.benefits .secondary-title {
    color: #FFF;
}

.benefits {
    padding: 25px 0;
}

.benefits-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    color: #FFF;
}

.benefit-item {
    /* background: #2196f3; */
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.benefit-item__title {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 16px;
}

.benefit-item__text {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    padding: 0 10px;
    margin: auto 0;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #000;
    overflow-y: scroll;
}

.contact .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .secondary-title {
    margin-bottom: 50px;
    color: #FFF;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.contact-form__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.contact-form__input {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0;
    font-size: 18px;
    padding-bottom: 20px;
    outline: none;
    color: #757575;
}

.contact-form__input.valid {
    border-color: #FFF;
    color: #FFF;
}

.contact-form__input:focus {
    border-color: #FFF;
    color: #FFF;
}



.contact-form__button {
    padding: 20px 0;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.2);
    width: 100%;
    max-width: 1100px;
    border: none;
    outline: none;
    cursor: default;
}

.contact-form__button.active {
    color: #000;
    background: #FFF;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    font-size: 0;
    outline: none;
    cursor: pointer;
}

.close-button__image {
    max-width: 100%;
}

.clients .secondary-title {
    color: #FFF;
}

.clients-swiper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto !important;
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 0;
    color: #FFF;
}

.footer {
    padding: 30px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contacts__item {
    color: #FFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.contacts__icon {
    width: 16px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(83%) saturate(2%) hue-rotate(318deg) brightness(107%) contrast(101%);
}


.address {
    display: flex;
    gap: 8px;
}

.address__icon {
    width: 16px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(83%) saturate(2%) hue-rotate(318deg) brightness(107%) contrast(101%);
}

.d-none {
    display: none;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

@media (max-width:1199px) {
    .services-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:991px) {
    .main-banner {
        background-position: center;
        background-image: url(../assets/images/main-mob.png);
        animation: main-animation 20s infinite;
    }

    .benefits-box,
    .services-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-banner__container {
        padding-bottom: 10%;
    }
}

@media (max-width:768px) {

    .benefits-box,
    .services-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-title {
        font-size: 36px;
    }

    .contact-form__section {
        grid-template-columns: 1fr;
    }

    .services {
        padding: 25px 0;
    }

    .single-service__title {
        font-size: 20px;
    }

    .single-service__icon {
        width: 20px;
        height: 20px;
    }

    .single-service__text {
        font-size: 18px;
    }

    .main-banner::after {
        height: 75%;
    }

    .main-title {
        font-size: 32px;
    }

    .main-banner {
        height: 120vw;
    }

    .benefit-item {
        height: 184px;
    }

    .footer .footer__container:last-child {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .secondary-title {
        font-size: 28px;
        margin-bottom: 24px;
    }

    .services__text {
        font-size: 18px;
        margin-bottom: 24px;
    }
}

@media (max-width:576px) {}

@keyframes main-animation {
    0% {
        background-image: url(../assets/images/main-mob-1.png);
    }

    40% {
        background-image: url(../assets/images/main-mob-1.png);
    }

    50% {
        background-image: url(../assets/images/main-mob.png);
    }


    90% {
        background-image: url(../assets/images/main-mob.png);
    }

    100% {
        background-image: url(../assets/images/main-mob-1.png);
    }
}